.example-spacer {
    flex: 1 1 auto;
}

h1{
    font-weight: 300;
}
.shadow{
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
.container-width{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-full-width{
    margin-top: 20px;
    width: 100%;
}
.pill{
    border-radius: 20px;
}
.example-card{
    margin-bottom: 15px;
}

.example-card {
    max-width: 320px;
    width: 100%;
}